doctype html
html
	head

		title GAME
		meta(charset = "utf-8")
		link(rel = 'stylesheet', type = 'text/css', href = 'css/main.css')
		link(rel = 'icon', href = 'favicon.ico', type = 'image/x-icon')
		script(src = "/eureca.js")
		script(src = "libs/jquery.js")
		script(src = "libs/jquery.hotkeys.js")
		script(src = "libs/phaser.min.js")
	body
		//- #menu(style = "display: none")

		#preloader.menu
			img(src = 'images/preloader.gif')

		#menu.menu
			#joinServer
				//- span.glitch(data-text = "LOLKEK") 
				input#playerName(placeholder = "Your nickname", maxlength = 20)
				button#newPlayer Join server!
				#unError

		#connection.menu.error 



		#game

		script(src = "js/main.js")